[Unit]
Description=
After=syslog.target network.target

[Service]
Type=oneshot
#EnvironmentFile=/etc/
WorkingDirectory=/root/
ExecStart=/root/disg_start.sh
#Restart=on-failure
LimitNOFILE=10000
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
